$test-color: rgba(255, 0, 0, 50%);

.numeric-tnum {
    font-variant-numeric: tabular-nums; 
}

.body-div {
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;

}

.main-title-container {
    margin: 10vh auto 0 auto;

    min-width: 400px;
    max-width: 550px;
    width: 50vw;

    min-height: 3rem;
    max-height: 6rem;
    height: 20vh;

    // border: 1px solid $test-color;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;

    container-type: inline-size;
}

.main-title-container>span {
    font-size: 12.5cqw;

    display: flex;
    justify-content: center;
}

.leaderboard {
    margin: 2vh auto 10vh auto;

    min-width: 500px;
    max-width: 750px;
    width: 75vw;

    flex: 1;

    overflow-y: auto;

    // border: 1px solid $test-color;
}

.leaderboard-navigation-bar {
    padding: 4px 4px 4px 4px;

    width: 100%;
    height: 48px;

    // border: 1px solid $test-color;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-country {
    margin-right: 10px;

    width: 50%;

    // border: 1px solid $test-color;
}

.search-filter {
    margin-right: 10px;

    width: 25%;

    // border: 1px solid $test-color;
}

.leaderboard-category {
    width: 25%;

    // border: 1px solid $test-color;
}

.leaderboard-table {
    width: 100%;
    height: calc(100% - 48px);

    // border: 1px solid $test-color;

    overflow-y: auto;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.leaderboard-item-holder {
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;

    // width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
}

.leaderboard-item-holder>span {
    margin-right: 10px;

    font-size: 20px;
    line-height: 20px;
}

.leaderboard-item-flag {
    margin-right: 10px;

    width: 60px;
    height: 40px;

    object-fit: cover;

    display: inline;
}